// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*Alert*/
//checkbox alert
.alert-md [aria-checked=true] .alert-radio-label {
    color: whitesmoke;;
}
.alert-md .alert-radio-inner {
    background-color: whitesmoke;
}
.alert-md [aria-checked=true] .alert-radio-icon {
    border-color: whitesmoke;
}
//Titulo
.alert-md .alert-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
    text-align: center;
    color: whitesmoke;
}
//subtitulo
.alert-md .alert-message {
    font-family: 'Orbitron', sans-serif;
    max-height: 240px;
    font-size: 15px;
    color: whitesmoke;
}
//boton
.alert-md .alert-button-group {
    justify-content: center;
    color: whitesmoke;
    padding: 8px 8px 8px 24px;
}
//boton
.alert-md .alert-button {
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    background-color: dimgrey;
    padding: 20px;
}
.alert-md .alert-button:disabled {
    color: whitesmoke;
    background-color: rgb(68, 68, 68);
}
.alert-md .alert-button:active {
    color: whitesmoke;
    background-color: rgb(68, 68, 68);
}
.alert-md .alert-button:hover {
    color: whitesmoke;
    background-color: rgb(68, 68, 68);
}
.errorAlert{
    > div{
      background-color:#CC0000!important;
      color: whitesmoke;
      text-align: center;
      font-weight: bold;
      border-style: solid;
      border-color: whitesmoke;
    }
  }
.warningAlert{
    > div{
      background-color:#FF8800!important;
      text-align: center;
      font-weight: bold;
      border-style: solid;
      border-color: whitesmoke;
    }
  }
.infoAlert{
    > div{
      background-color:#0099CC!important;
      text-align: center;
      font-weight: bold;
      border-style: solid;
      border-color: whitesmoke;
    }
  }
.succesAlert{
    > div{
      background-color:#007E33!important;
      text-align: center;
      font-weight: bold;
      border-style: solid;
      border-color: whitesmoke;
    }
  }
